body {
	font-family: "Trebuchet MS", Tahoma, Arial, sans-serif;
	font-size:100%; 	
	
}


p	{
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 0.875em; 
	/*border: thin red solid;*/
	line-height:1.75em;
	
}


h1	{
	font-size: 1.5em; 
	/*border: thin red solid;*/
	line-height:1.5em;
	font-weight: normal; 
}


h2,h3	{
	font-size:1.125em;
	/*border: thin red solid;*/
	font-weight:lighter;
	text-transform:uppercase;
	letter-spacing:0.2em;
}

h3	{
	font-size:0.875em;
	letter-spacing:0.1em;
}

ul	{
	font-size: 0.875em;
	/*background-color: #E5DAB3;*/
	list-style-position: inside;
}

ol	{
	font-size: 0.875em; 
}
